ion-content {
    --background: url(./../../assets/images/background-pokedex.jpeg) 100% 100%;
}

.poke {
    &-image {
        height: 400px;
        width: 400px;
        background-color: #F2F2F2;
        border-radius: 6px;
    }
    &-title {
        font-size: 40px;
        font-weight: bold;
    }
    &-detail {
        &-container {
            background-color: #2B71B8;
            padding: 32px;
            border-radius: 16px;
        }
        &-title {
            color: #C2DFFF;
            font-size: 14px;
        }
        &-value {
            color: #fff;
            font-size: 24px;
        }
    }
}