<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="assets/images/pokemon-logo.png">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="auto">
      <div class="custom-btn" (click)="goBack()">
        <img src="assets/icon/back.png">&nbsp;
        <span>Back</span>
      </div>
    </ion-col>
  </ion-row>

  <div class="ion-text-center" style="margin-top: 64px;">
    <ion-row>
      <ion-col class="ion-text-right">
          <img [src]="pokeDetail.dataDetail?.sprites?.front_default" class="poke-image">
      </ion-col>
      <ion-col>
        <ion-row class="ion-text-left">
          <ion-col>
            <span class="poke-title">{{ pokeDetail.name ? pokeDetail.name : pokeDetail.pokemon.name }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-left">
          <ion-col size="6">
            <div class="poke-detail-container">
              <ion-row>
                <ion-col>
                  <span class="poke-detail-title">Height</span><br>
                  <span class="poke-detail-value">{{ pokeDetail.dataDetail.height }}</span>
                </ion-col>
                <ion-col>
                  <span class="poke-detail-title">Experience</span><br>
                  <span class="poke-detail-value">{{ pokeDetail.dataDetail.base_experience }}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="poke-detail-title">Weight</span><br>
                  <span class="poke-detail-value">{{ pokeDetail.dataDetail.weight }} lbs</span>
                </ion-col>
                <ion-col>
                  <span class="poke-detail-title">Abilities</span><br>
                  <span class="poke-detail-value">Torrent</span>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <span>Type</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto" *ngFor="let type of pokeDetail?.dataDetail?.types">
            <poke-type [type]="type.type.name"></poke-type>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <span>Weakness</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ng-container *ngFor="let type of pokeDetail?.dataDetail?.types">
            <ion-col size="auto" *ngFor="let item of type?.type?.damage_relations?.double_damage_from">
              <poke-type [type]="item?.name"></poke-type>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
