ion-content {
    --background: url(./../../assets/images/background-pokedex.jpeg) 100% 100%;
}

.btn-detail {
    width: 100%;
    --background: #F2F2F2;
    color: black;
    font-weight: bold;
    text-transform: none;
}

.btn-remove {
    width: 100%;
    --background: #FFA69A;
    color: #fff;
    font-weight: bold;
    text-transform: none;
}

.poke-title {
    font-weight: bold;
    font-size: 18px;
}