<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="assets/images/pokemon-logo.png">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="auto">
      <div class="custom-btn" (click)="goBack()">
        <img src="assets/icon/back.png">&nbsp;
        <span>Back</span>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-xs="6" size-lg="3" *ngFor="let item of pokedexDataList; let i = index">
      <ion-row>
        <ion-col class="ion-text-center">
          <div style="background-color: #F2F2F2; border-radius: 6px;">
            <img [src]="item?.dataDetail?.sprites?.front_default" style="height: 250px;">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="ion-text-center" *ngFor="let type of item?.dataDetail?.types">
          <poke-type [type]="type?.type?.name"></poke-type>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="poke-title">{{ item?.name ? item?.name : item?.pokemon?.name }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="btn-detail" (click)="gotoDetail(item)">Details</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="btn-remove" (click)="unFavorite(i)">Remove</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>