.header-icon {
  width: 20px;
}

ion-content {
  --background: url(./../../assets/images/background-pokedex.jpeg) 100% 100%;
}

.custom-select-option {
  --placeholder-color: #fff;
  --placeholder-opacity: .7;
  --ion-item-background: #313131;
  background-color: #313131;
  color: #fff;
  border-radius: 6px;
  width: 100%;
}

.btn-detail {
  width: 100%;
  --background: #F2F2F2;
  color: black;
  font-weight: bold;
  text-transform: none;
}

.btn-fav {
  width: 100%;
  --background: #FFE78A;
  color: #fff;
  font-weight: bold;
  text-transform: none;
}

.label-pokedex {
  color: #21386E;
  font-size: 40px;
  font-weight: bold;
}

.poke-title {
  font-weight: bold;
  font-size: 18px;
}