<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end" class="custom-btn" (click)="gotoFavorite()">
      <img src="assets/icon/heart.png" class="header-icon">&nbsp;
      My Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- HEADER -->
  <ion-row>
    <ion-col size-xs="6" size-lg="9">
      <span class="label-pokedex">Pokedex</span>
    </ion-col>
    <ion-col size-xs="6" size-lg="3" class="ion-text-start">
      <ion-item lines="none" class="custom-select-option">
        <ion-label position="floating">Sort by Type</ion-label>
        <ion-select placeholder="Type" [(ngModel)]="selectedType" (ionChange)="fetchPokemonByType($event)">
          <ion-select-option *ngFor="let item of pokemonType" [value]="item.value">{{ item.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- CONTENT -->
  <ion-row>
    <ion-col size-xs="6" size-lg="3" *ngFor="let item of pokedexDataList">
      <ion-row>
        <ion-col class="ion-text-center">
          <div style="background-color: #F2F2F2; border-radius: 6px;">
            <img [src]="item?.dataDetail?.sprites?.front_default" style="height: 250px;">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="ion-text-center" *ngFor="let type of item?.dataDetail?.types">
          <poke-type [type]="type?.type?.name"></poke-type>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="poke-title">{{ item?.name ? item?.name : item?.pokemon?.name }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="btn-detail" (click)="gotoDetail(item)">Details</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="btn-fav" (click)="addFavorite(item)">Favorite</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!selectedType">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>